@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap');

.thumbnailHead{
  font-family: 'NanumSquareRound',sans-serif;
}

.thumbnail {
  display: block;
  margin-bottom: 12px;
  padding: 4px;
  padding-bottom: 12px;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;
  font-family: 'NanumSquareRound',sans-serif;

  p {
    font-size: 90%;
    line-height: 1.4;
  }

  .thumbnailDate{
    font-size: 100%;
    line-height: 1.4;
    float:right;
    font-family: 'NanumSquareRound',sans-serif;
  }
}

.thumbnail.visible {
  opacity: 1;
}


