@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&display=swap');

.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 40px;
  letter-spacing: -2px;
  font-family: 'Amatic SC', cursive;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
